/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-background-color:#000;
}
.label {
	-fx-font-size:0.0 22px;
	-fx-font-weight:bold;
	-fx-text-fill:#ff5050;
}
.root {
	-fx-background-image:url("/images/1.jpg");
	-fx-background-repeat:no-repeat;
}